@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato:wght@400;700&family=Open+Sans:wght@500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid black;
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    gap: 500px;
    align-items: center;
    max-width: 100%;
    border-bottom: 10px solid #e2e2e2;
    margin-bottom: 40px;
  }

p {
    text-align: justify;
}